<script type="text/javascript" src="javascript/core/post.js"></script>
<script type="text/javascript" src="javascript/core/comment.js"></script>
<script type="text/javascript" src="javascript/index.js"></script>

<div><section id="posts"></section></div>
<form>
	<%= csrf_tag %>
	<input type="text" id="post_username" placeholder="Username (leave blank to be anon)" /><br />
	<textarea id="post_text" placeholder="Text"></textarea><br />
	<input type="submit" id="new_post" value="Send" />
</form>

<div id="dialog_form" title="Dafuq">
	<form>
		<%= csrf_tag %>
		<input type="hidden" id="post_id" value="" />
		<input type="text" id="username" placeholder="Username (leave blank to be anon)" />
		<br />
		<textarea id="text" placeholder="Text"></textarea>
	</form>
</div>

<form>
	<input type="text" id="search" placeholder="Search..." /><input type="submit" id="new_search" value="Search" />
</form>
