<!DOCTYPE html>
<html>
<head>
	<title><%= @title %></title>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<script type="text/javascript" src="javascript/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="javascript/jquery-dateFormat-1.0.js"></script>
	<script type="text/javascript" src="javascript/jquery.cookie.js"></script>
	<script type="text/javascript" src="javascript/script.js"></script>
	<link rel="stylesheet" type="text/css" media="all" href="stylesheets/style.css" />
	<script type="text/javascript" src="javascript/jquery-ui-1.8.20.custom.min.js"></script>
	<link rel="stylesheet" href="stylesheets/smoothness/jquery-ui-1.8.20.custom.css" />
	<script>		
		$(document).ready(function() {
			$('#loader').hide();
			$.ajaxSetup({
				async: false,
				beforeSend: function() {
					$('#loader').show();
				},
				complete: function() {
					$('#loader').hide();
				}
			});
		});
  </script>
</head>
<body>
	<div id="notice"><%= @error %></div>
	<div id="loader"><img src="http://jimpunk.net/Loading/wp-content/uploads/loading10.gif" /></div>
	<%= yield %>
</body>
</html>
